<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles_login.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Barra superior -->
    <div class="top-bar d-flex justify-content-between align-items-center py-2">
        <img src="assets/logoTECNM.png" alt="Logo Izquierdo" class="img-fluid logo-left">
        <h1 class="text-center mx-auto">Registro de asesorias estudiantiles del Instituto Tecnologico de Ensenada</h1>
        <img src="assets/logoITE.png" alt="Logo Derecho" class="img-fluid logo-right">
    </div>
    
    <div class="blue-bar"></div>

    <!-- Contenido principal -->
        <div class="row w-100 px-3 px-md-4">
            <!-- Sección de imagen y botones -->
            <div class="col-lg-5 col-md-6 text-center pe-lg-4 pe-md-3">
                <div class="contenedorimgyb">
                    <div class="image-container custom-image-position mb-2">
                        <img id="uploaded-image" src="assets/foto_login.jpg" alt="Imagen seleccionada" class="styled-image">
                    </div>
                    <div class="d-flex gap-3 justify-content-center mt-0 button-group-adjustment">
                        <button id="btn-alumno" class="btn-role">Alumno</button>
                        <button id="btn-asesor" class="btn-role">Asesor</button>
                        <button id="btn-admin" class="btn-role">Administrador</button>
                    </div>
                    <br>
                    <div> 
                        <h2 class="bienvenida-text"> Bienvenidos al Sistema de Tutorías del ITE: tu espacio para crecer, aprender y recibir apoyo.</h2>
                    </div>
                </div>
                
            </div>

            <!-- Contenedor del formulario -->
                <div id="form-container" class=" login-card">
                    <!-- Aquí se cargan los formularios dinámicamente -->

                </div>

           
            
        </div>

    <script src="js/forms.js" type="module"></script>
</body>
</html>
