<!-- sidebar_admin.html -->
<div class="sidebar">
    <div class="sidebar-header text-center py-4">
        <h4 class="m-0">ADMIN</h4>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li>
                <a href="home_admin.html" class="d-block px-3 py-3">
                    <i class="fas fa-user me-2"></i>Página principal
                </a>
            </li>
            <li>
                <a href="solicitudes.html" class="d-block px-3 py-3">
                    <i class="fas fa-clipboard-list me-2"></i>Solicitudes
                </a>
            </li>
            <li>
            <a href="admin_asesores.html" class="d-block px-3 py-3">
                <i class="fas fa-chalkboard-teacher me-2"></i>Asesores
            </a>
            </li>
            <li>
                <a href="admin_temas.html" class="d-block px-3 py-3">
                    <i class="fas fa-book me-2"></i>Temas/Materias
                </a>
            </li>
            <li>
                <a href="perfil_admin.html" class="d-block px-3 py-3">
                    <i class="fas fa-calendar-alt me-2"></i>Perfil
                </a>
            </li>
            <li class="border-top border-light my-2"></li>
            <li class="logout">
                <a href="login.html" class="d-block px-3 py-3">
                    <i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="sidebar-overlay"></div>