<div class="sidebar">
    <div class="sidebar-header text-center py-4">
        <h4 class="m-0">ESTUDIANTE</h4>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <!--
             <li>
                <a href="home_alumno.html" class="d-block px-3 py-3">
                    <i class="fas fa-user me-2"></i>Página principal
                </a>
            </li>
             -->
            <li>
                <a href="cursos.html" class="d-block px-3 py-3">
                    <i class="fas fa-book me-2"></i>Mis cursos
                </a>
            </li>
            <li>
                <a href="mensajes.html" class="d-block px-3 py-3">
                    <i class="fas fa-envelope me-2"></i>Mensajes
                </a>
            </li>
            <li>
                <a href="perfil.html" class="d-block px-3 py-3">
                    <i class="fas fa-user-alt me-2"></i>Mi perfil
                </a>
            </li>
            <li class="border-top border-light my-2"></li>
            <li class="logout">
                <a href="../login.html" class="d-block px-3 py-3">
                    <i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="sidebar-overlay"></div>